@import url('https://fonts.googleapis.com/css2?family=Cardo:wght@700&display=swap');
* {
    font-family: 'Cardo', serif;
        font-size: 15px;
      color: rgb(84, 216, 106);
}
.app{
    background-color: rgb(46, 46, 187);
}
@media only screen and (max-width: 2000px){
    /*Tablets [601px -> 1200px]*/
    .app{
        background-color: rgb(46, 46, 187);
    }
    .startup{
        height: 650px;
      width: 653px;
    }
    .celda {
      height: 150px;
      width: 150px;
    }
    input{
        width: 250px;
    }
    .celda h1 {
      font-size: 100px;
    }
    .caja {
      height: 450px;
      width: 453px;
    }
    .colorx {
      color: rgb(100, 179, 69);
    }
    .coloro {
      color: rgb(177, 68, 68);
    }
    .icons {
      size: 40px;
    }
    .confeti{
        height: 100%;
        width: 100%;
    }
    .cajaModal {
        height: 150px;
        width: 153px;
      }
      .celdaModal {
        height: 50px;
        width: 50px;
      }
}
@media only screen and (max-width: 655px){
	/*Big smartphones [426px -> 600px]*/
    .startup{
        margin-top: -200px;
        height: 400px;
        width: 403px;
    }
    .celda {
      height: 100px;
      width: 100px;
    }
    input{
        width: 150px;
    }
    .celda h1 {
      font-size: 50px;
    }
    .caja {
      height: 300px;
      width: 303px;
    }
    .colorx {
      color: rgb(100, 179, 69);
    }
    .coloro {
      color: rgb(177, 68, 68);
    }
    .icons {
      size: 10px;
    }
    .confeti{
        height: 100%;
        width: 100%;
    }
    .cajaModal {
        height: 150px;
        width: 153px;
      }
      .celdaModal {
        height: 50px;
        width: 50px;
      }
      .modal{
          width: 80%!important;
      }
}
@media only screen and (max-width: 425px){
	/*Small smartphones [325px -> 425px]*/
    .startup{
        margin-top: -200px;
        height: 300px;
        width: 303px;
    }
    .celda {
      height: 100px;
      width: 100px;
    }
    input{
        width: 90px;
    }
    .celda h1 {
      font-size: 50px;
    }
    .caja {
      height: 300px;
      width: 303px;
    }
    .colorx {
      color: rgb(100, 179, 69);
    }
    .coloro {
      color: rgb(177, 68, 68);
    }
    .icons {
      size: 10px;
    }
    .confeti{
        height: 100%;
        width: 100%;
    }
    .cajaModal {
        height: 150px;
        width: 153px;
      }
      .celdaModal {
        height: 50px;
        width: 50px;
      }
      .modal{
        width: 90%!important;
    }
}